/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/*.sublime-*
/.idea
/.rsync_cache
/app/config/deploy.rb
/behat.yml
/web/uploads
/web/media/cache