<p>¡Hola!</p>

<p>Tu anuncio en <a href="{{ path('segundo_uso_frontend_homepage') }}">SegundoUso.org</a> está apunto de ser publicado.
Finaliza el proceso de publicación clicando en el siguiente enlace:</p>
<p><a href="{{ url('segundo_uso_frontend_ad_confirmation', {pid:ad.pid}) }}">{{ url('segundo_uso_frontend_ad_confirmation', {pid:ad.pid}) }}</a></p>

<p>Gracias por contribuir a la reutilización :)</p>
<p><b>Equipo de <a href="{{ path('segundo_uso_frontend_homepage') }}">SegundoUso.org</a></b></p>