<p>¡Hola!</p>

<p>Tu anuncio en <a href="{{ path('segundo_uso_frontend_homepage') }}">SegundoUso.org</a> ha sido publicado. Puedes verlo <a href="">aquí</a>.</p>

<p>A continuación tienes dos anuncios que puedes necesitar:<br/>
<a href="{{ url('segundo_uso_frontend_ad_edit', {pid:ad.pid, token:ad.token}) }}">Editar anuncio</a>: En caso que necesites modificar algún dato.<br/>
<a href="{{ url('segundo_uso_frontend_ad_delete', {pid:ad.pid, token:ad.token}) }}">Eliminar anuncio</a>: Cuando tu anuncio ya no sea necesario.</p>

<p>Ten presente que estos enlaces sólo son accesibles desde este email. Por favor, consérvalo para poder gestionar tu anuncio.</p>

<p>Gracias por contribuir a la reutilización :)</p>
<p><b>Equipo de <a href="{{ path('segundo_uso_frontend_homepage') }}">SegundoUso.org</a></b></p>