<p>Aviso que un anuncio ha sido marcado como fraudulento:<br/>
<a href="{{ url('segundo_uso_frontend_ad_show', {pid:ad.pid}) }}">{{ url('segundo_uso_frontend_ad_show', {pid:ad.pid}) }}</a>
</p>

<p>Por favor, revísalo para comprobar si es fraudulento o no.</p>