

/* line 4, assetic_compassbD3O6h.scss */
header {
  padding: 10px 0;
}

/* line 8, assetic_compassbD3O6h.scss */
html, body {
  height: 100%;
}

/* line 11, assetic_compassbD3O6h.scss */
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -170px;
}

/* line 16, assetic_compassbD3O6h.scss */
.page-wrap:after {
  content: "";
  display: block;
}

/* line 23, assetic_compassbD3O6h.scss */
.home-search .title {
  display: block;
  padding-top: 20px;
  font-size: 23px;
}
/* line 29, assetic_compassbD3O6h.scss */
.home-search .categories {
  font-size: 27px;
  height: 63px;
  padding: 11px;
  width: 100%;
}
/* line 35, assetic_compassbD3O6h.scss */
.home-search .categories option {
  line-height: 1.33;
  font-size: 27px;
}

/* line 42, assetic_compassbD3O6h.scss */
footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 170px;
}

/* line 47, assetic_compassbD3O6h.scss */
.claim-cta {
  font-size: 30px;
}

/* line 51, assetic_compassbD3O6h.scss */
footer {
  font-family: "Open Sans", sans-serif;
  color: #222222;
}
/* line 54, assetic_compassbD3O6h.scss */
footer h4 {
  color: #3e1d00;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
/* line 59, assetic_compassbD3O6h.scss */
footer a {
  color: #13890a;
}
/* line 62, assetic_compassbD3O6h.scss */
footer a:hover {
  color: #13890a;
}
/* line 65, assetic_compassbD3O6h.scss */
footer ul {
  list-style: none;
  padding: 0;
}
/* line 68, assetic_compassbD3O6h.scss */
footer ul li {
  font-size: 13px;
  margin: 3px 0;
}
/* line 74, assetic_compassbD3O6h.scss */
footer .copyright {
  font-size: 12px;
  color: #777;
  padding: 6px 0;
}

/* line 82, assetic_compassbD3O6h.scss */
.list .ad {
  background-color: #dfdfdf;
  margin: 10px 0;
}
/* line 86, assetic_compassbD3O6h.scss */
.list .ad .date {
  font-size: 10px;
}
/* line 90, assetic_compassbD3O6h.scss */
.list .ad h2 {
  font-size: 16px;
}

/* line 96, assetic_compassbD3O6h.scss */
.contact-form {
  background-color: #dfdfdf;
  padding: 15px;
}
