{% extends 'SegundoUsoFrontendBundle::layout.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-12">Se te ha enviado un email a la dirección que has indicado para validar el anuncio.</div>
    </div>

{% endblock content %}
