{% extends 'SegundoUsoFrontendBundle::layout.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-12" id="FLAG_confirmation">
            <p>Se ha producido un error y no se puede publicar tu anuncio. Por favor, <a href="mailto:hola@segundouso.org">contacta con nosotros</a>..</p>
        </div>
    </div>

{% endblock content %}
