{% extends 'SegundoUsoFrontendBundle::layout.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-12" id="FLAG_confirmation">
            <p>Tu anuncio ha sido publicado con éxito. Recibirás un email desde el que podrás acceder al area de gestión de tu anuncio.</p>
            <p>Puedes ver tu anuncio <a href="mailto">aquí</a>.</p>
            <p>¡Gracias por contribuir a la reutilización!</p>
        </div>
    </div>

{% endblock content %}
