{% extends 'SegundoUsoFrontendBundle:Admin:layout.html.twig' %}

{% block content %}
    <h1>Fraudulent Ads</h1>

    <table class="records_list table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Notices</th>
                <th>Link</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        {% for ad in ads %}
            <tr>
                <td>{{ ad.title }}</td>
                <td class="FLAG_count-cell">{{ ad.marks.count }}</td>
                <td><a href="{{ path('segundo_uso_frontend_ad_show', { pid: ad.pid }) }}" target="_blank">Ver</a></td>
                <td><a href="{{ path('segundo_uso_fraudulent_ads_delete', { id: ad.id }) }}" class="btn btn-danger btn-sm">Eliminar</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
