{% extends 'SegundoUsoFrontendBundle::layout.html.twig' %}

{% block content %}

    <div class="jumbotron" style="text-align: center;">
        <h1>¿Por qué no dejar que otros utilicen lo que tú ya no?</h1>
        <p>En segundouso.org puedes ofrecer los objetos que ya no utilizas para que otras personas le den uso.</p>
        <p><a href="{{ path('segundo_uso_frontend_announcement_create') }}" class="btn btn-success btn-lg claim-cta">Tengo algo que ofrecer</a></p>
    </div>

{% endblock content %}


