$my-experiences-color: #E7D897;
$shared-experiences-color: #A4DFC3;
$forum-color: #FDC39D;
$investigation-color: #ADD9F4;
$default-color: #D2D0D1;

$font-reg: 'lane';
$font-bold: 'lane';

//

$primary-green: #13890a;
$primary-brown: #3e1d00;

$text-font: "Open Sans", sans-serif;